body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem; 
    line-height: 1.5;

}

/* Tittle section  */

#title{
    background-color: #ff4c68;
    color: white;
    
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    height: 1.5;
   
}
.container-fluid{
    padding: 3% 15%;

}


/* navbar  */

.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.navbar-brand{
    font-family:'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold
}

/* download button  */
.download-button{
    margin: 5% 3% 5% 0;
    font-weight: 100;
    
}

/* Tittle-image */

.tittle-image{
    width: 60%;
    transform: rotate(25deg);
    
    
}

/* features */

#features{
padding: 7% 15%;
/* z-index: 1; */


}
.features-box{
    text-align: center;
    padding: 5%;
    
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


/* Testimonials */

#testimonials{
    text-align: center;
    
    background-color: #ef8172;
    color: #fff;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8172;
    text-align: center; 
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding: 1% 5%;
    text-align: center;
}

.card{
    text-align: center;
     margin: 2% 1%; 
    padding: 1% 2%;
    width: 30%;
}

/* cta  */

#cta{
    text-align: center;
    /* background-color: #ff4c68; */
}


/* footer  */
 #footer{
    text-align: center;
 }
 
 
